---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Who I am and what I do."
  pubDate={new Date("March 16 2024")}
>
  <p>
    Hi! I'm Moh, a backend engineer. I make sure everything behind the scenes
    runs smoothly. I'm passionate about building fast, accessible, and inclusive
    websites. I'm enthusiastic about open-source software and enjoy giving back
    to the community.
  </p>

  I'm a big fan of the <a
    href="https://tallstack.dev/"
    target="_blank"
    class="underline"
  >
    TALL stack
  </a>
  and
  <a href="https://create.t3.gg/" target="_blank" class="underline">
    T3 stack
  </a>. I love working with PHP, Go, and Node.js.

  <p>When I'm not coding, I'm probably playing Rocket League</p>

  <p>
    I'm currently working at <a
      href="https://www.morph.sa"
      target="_blank"
      class="underline"
    >
      Morph
    </a>
    as a Backend Engineer.
  </p>

  <!-- Projects I've worked on -->
  <h2>Projects I've worked on</h2>
  <div class="flex flex-col gap-2 md:flex-row">
    <dt>
      <span class="flex">
        <a
          href="https://apps.apple.com/us/app/%D9%81%D9%84%D8%A7%D9%8A-%D9%85%D8%A7%D8%B1%D8%AA/id1670689288"
          rel="noopener noreferrer"
          target="_blank"
        >
          Flymart
        </a>
      </span>

      <span class="flex">
        <a
          href="https://github.com/MohAlkurdi/newsletter-app"
          rel="noopener noreferrer"
          target="_blank"
        >
          Newsletter App
        </a>
      </span>

      <span class="flex">
        <a
          href="https://github.com/MohAlkurdi/Authficate-API"
          rel="noopener noreferrer"
          target="_blank"
        >
          Authficate API
        </a>
      </span>

      <span class="flex">
        <a
          href="https://github.com/MohAlkurdi/certificate-generator"
          rel="noopener noreferrer"
          target="_blank"
        >
          Certificate generator
        </a>
      </span>
    </dt>
  </div>

  <h4>
    Much more on my <a href="https://github.com/MohAlkurdi" target="_blank">
      Github account
    </a>
  </h4>
</Layout>
